@mixin button() {
  font-weight: var(--font-light);
  color: var(--color-text);
  text-transform: capitalize;
  cursor: pointer;
  display: block;
  border: 1px solid var(--color-border);
  background-color: var(--color-bg-content);
  padding: var(--space-2xs) var(--space-xs);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  transition: none;

  &:hover {
    transform: translateY(-.125rem);
    box-shadow: var(--box-shadow-hover);
    background-color: var(--color-800);
  }

  &:active {
    box-shadow: none;
    transform: translateY(.125rem);
  }
}

.button {
  @include button
}

.browser-button {
  padding: var(--space-3xs) var(--space-2xs);

  &:hover {
    box-shadow: var(--bshadow-3);
  }
}

button {
  background-color: var(--color-bg);
  padding: 0;
  border: none;
}