.menu-toggle-button {
  height: var(--space-m);
  width: var(--space-l);
  cursor: pointer;
  background-color: transparent;
  position: relative;
  z-index: 2;
  transition: var(--transition-duration);
  order: 2;

  @include lg {
    display: none;
  }

  span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: var(--color-bg);
    position: absolute;
    right: 0;
    border-radius: var(--border-radius);
    transition: var(--transition-duration);

    &:first-of-type {
      top: 0%;
    }

    &:nth-of-type(2) {
      top: 50%;
      transform: translateY(-50%);
    }

    &:nth-of-type(3) {
      bottom: 0%;
    }
  }

  &[data-menu-state="open"] {
    transform: rotate(-45deg);

    span {
      // background-color: var(--color-text);

      &:nth-of-type(1) {
        top: 50%;
      }
  
      &:nth-of-type(2) {
        opacity: 0;
        transition: none;
      }
  
      &:nth-of-type(3) {
        transform: rotate(90deg);
        top: 50%;
      }
    }
  }

  &[data-menu-state="open"] + .site-logo {    
    .site-title {
      color: var(--color-text);
      border-color: var(--color-text);
    }
  }

  &[data-menu-state="open"] ~ .site-nav {
    transform: none;
    background-color: var(--color-800);

    li {
      opacity: 1;
    }
  }
}