.site-nav {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  height: 100svh;
  padding: calc(var(--step-4) + var(--space-2xs) + var(--space-2xs) + var(--space-xs) + var(--space-xs) + .25rem) 0;
  background-color: var(--color-bg-opacity);
  transform: translateX(-100%);
  transition: var(--transition-duration);

  @include lg {
    position: relative;
    transform: none;
    height: auto;
    padding: 0;
    background-color: transparent;
  }

  .menu-list {
    padding-left: var(--gutter);

    @include lg {
      display: flex;
      padding-left: 0;
      align-items: center;
      gap: var(--space-s);
    }

    li {
      list-style: none;
    }

    .menu-item {
      position: relative;
      margin: var(--space-l) var(--space-xs);
      width: fit-content;

      @include lg {
        margin: 0;
        text-align: center;
      }

      &.active {
        a::before {
          width: 100%;
        }
      }
    }

    a {
      position: relative;
      display: block;
      font-size: var(--step-2);
      font-weight: var(--font-bold);
      text-transform: uppercase;
      letter-spacing: .0625em;
      line-height: 1;
      padding: var(--space-3xs) 0;

      color: var(--color-000);

      @include lg {
        font-size: var(--step-0);
      }

      &::before {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 1px;
        background-color: var(--color-000);
        transition: var(--transition-duration-fast);
      }

      &:hover {
        &::before {
          width: 100%;
        }
      }
    }
  }
}

.scroll-up {
  .site-nav {
    a {
      color: var(--color-text);
    }

    .active::before {
      background-color: var(--color-text);
    }

    // .menu-item {
    //   &.active {
    //     background-color: transparent;
    //     border: 1px solid;
    //   }
    // }
  }
}

.breadcrumbs {
  ol, ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: var(--space-3xs);
  }
}